.DS_Store

INSPIRE
INSPIRE_debug
*.o
*.out
build/

*.sqlite
*.sqlite3
*.db
*.sqlite-wal
*.sqlite-shm

*.obo
*.gaf
*.gaf.gz

*.sql
*.csv

reports/*.png
reports/*.csv

__pycache__/
*.pyc
.venv/
venv/

.vscode/
.idea/
reports/*.log
.Rproj.user
*.png
GIT_WORKFLOW.md
*.png
GIT_WORKFLOW.md

# Exclude specific subfolders
R/old/
input/go/


database/
networks/
reports/
tex/
validation/
GIT_WORKFLOW.md


R/
validation/
